PROG="aqd"
PIDFILE={{ t_aquilon_aqd_pidfile }}
TWISTD={{ t_aquilon_aqd_twistd }}
CONF_FILE={{ t_aquilon_aqd_sysconfig_filepath }}
LOGFILE={{ t_aquilon_aqd_logfile }}
LOCKFILE={{ t_aquilon_aqd_lockfile }}
PY_BIN={{ t_aquilon_venv_path }}/bin/python
USERNAME={{ t_broker_user }}
